    .main__section {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding-top: 93px;
    }

.left__part{
    height: 354px;
    width: 420px;

left: 78px;
top: 45.234375px;
border-radius: 0px;
margin: 100px;
}
.logo{
    height: 64px;
    width: 192px;
    left: 0px;
    top: 0px;
    padding:0;
    border-radius: 0px;
}
.section__title{
height: 120px;
width: 400px;
font-size: 54px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0em;
text-align: left;
}
.section__text{
    padding-top: 12px;
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}


.section__btn{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.section__button{
margin-right: 10px;
    height: 40px;
width: 148px;
border-radius: 4px;
background-color: #222222;
color: #fff;
text-transform: uppercase;
font-family: 'Poppins';
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 2px;
text-align: center;
}

.right__part{
    margin-right: 100px;
}

