@media(max-width: 1200px){
    header{
        width: 100vh;
    }
    .container{
        max-width: 70%;
    }
    .main{
        width: 100vh;
    }
    .about__container{
        width: 100vh;
    }
    .left__part{
        width: 400px;
        margin: 60px;
    }
    .logo {
        height: 52px;
        width: 178px;
    }
    .main_section__title {
        width: 400px;
        font-size: 48px;
        font-weight: 400;
    }
    .section__text {
        padding-top: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }
    .section__btn { 
        padding-top: 18px;
    }
    .buy-now__btn__main {
        margin-right: 10px;
        height: 40px;
        width: 142px;
        border-radius: 4px;
        background-color: #222222;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 2px;
        text-align: center;
    }
    .features__container{
        width: 100vh;
    }
    #red__section{
        width: 100Vh;
    }
    #technology__section{
        width: 100vh;
    }
}
@media only screen and(max-width: 992px){
    
}
@media only screen and(max-width: 768px){
    
}
@media only screen and(max-width: 480px){
    
}
@media only screen and(max-width: 320px){
    
}
