.container__download{
padding: 100px 0 140px;
height: auto;
background-color: #fff;
display: flex;
justify-content: center;
text-align: center;
align-items: center;
flex-direction: column;
}
.download__context{
max-width:589px;
font-weight: 400;
font-size: 18px;
line-height: 24px;
padding-top: 14px;
padding-bottom: 26px;
color: #666666;
}

@media (max-width:600px) {
    .container__download{
        width: 100%;
        }   
}
@media (max-width:00px) {
    .container__download{
        width: 100%;
        }   
}
