.faq{
    background-color: #E5E5E5;
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: left;
    flex-direction: column;
    padding: 105px 0;
    padding-left: 104px;
    color: #222222;
}
.top__faq{
height: auto;
}

.name__section{
font-weight: 400; 
font-size: 32px;
line-height: 36px;
}

.title__faq{
    height: 20px;
    padding-top: 13px;
}
.faq__questions{
    max-width: 1200px;
    justify-content: space-between;
    margin-top: 42px;
    display: flex;
    flex-wrap: wrap;
}
.questions__card{
    margin: 22px 0;
}

.faq__tille{
font-size: 18px;
font-weight: 400;
line-height: 28px;
}

.faq__answer{
    padding-top: 10px;
    height: auto;
max-width: 576px;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}