footer {
    padding: 144px 0 124px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social__netwoks {
    height: auto;
    min-width: 112px;
    border-radius: 0px;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
}