header {
    width: 100%;
    height: 90px;
    background-color: #fff;
    position: fixed;
    box-shadow: 0 1px 7px 0 #979797;
    z-index: 1000;
}

.container__header {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

._lock {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #666666;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
}
.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    width: 439px;
    align-items: center;
    justify-content: space-around;
    padding: 13px 5px 13px 18px;
}
.navbar li {
    list-style: none;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #666666;
}
button {
    border: none;
}
.header__btn {
    height: 40px;
    width: 172px;
    background: #222222;
    border-radius: 4px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__btn:hover {
    background: #4E4E4E;
}

.header__btn:active {
    transform: scale(0.98);
}

.header__btn:focus {
    outline: 2px solid #5AB0FF;
}

.menu__icon {
    display: none;
}

.logo__nav {
    display: none;
}
.burger__btn{
    display: none;
}
.btn__scroll{
    color: #FFFFFF;
}

@media(max-width: 767px) {
    .container__header {
        width: 80%;
        justify-content: space-between;
    }
    .logo__nav {
        height: 40px;
        width: 120px;
        display: block;
    }
    .menu__icon {
        z-index: 1006;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .burger__btn{
        display: block;
    }
    .burger__btn:hover{
        padding: 15px;
        border-radius: 50%;
        background-color: #E5E5E5;
    }
    .burger__btn:focus {
        outline: 2px solid #5AB0FF;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #000;
    }
    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }
    .menu__icon::before {
        top: 0;
    }
    .menu__icon::after {
        bottom: 0;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255);
        transition: all 0.7s ease 0s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
    }
    .navbar::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .navbar._active {
        right: 0;
    }
    .menu__box {
        flex-direction: column;
        margin: 39px 0;
        height: auto;
    }
}
