.main {
  background: url(/img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 436px;
  padding-top: 90px;
}
.main p {
  color: #fff;
}

.main span {
  color: #fff;
}

.p__title {
  font-size: 50px;
  font-weight: 700;
  padding-top: 60px;
  text-align: center;
  text-transform: uppercase;
}

.p__context {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.6px;
  text-align: center;
}

.main__time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.number {
  font-weight: 400;
  font-size: 100px;
  padding: 24px;
}

.timer-text {
  font-weight: 700;
  font-size: 24px;
  padding-right: 36px;
  text-align: center;
  justify-content: center;
}