.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    z-index: 1001;
    overflow-y: scroll;
}
.modal__body {
    padding: 8vh 0 6vh;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal__content {
    height: auto;
    padding: 0 90px;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.modal__title {
    height: 60px;
    max-width: 312px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 38px;
    padding-bottom: 25px;
}
.modal__inputs {
    height: auto;
    width: 330px;
}
.modal__input {
    height: 42px;
    width: 100%;
    border-radius: 4px;
    background: #F2F2F2;
    color: #000;
    border: none;
    text-indent: 17px;
    margin-top: 17px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.modal__input:focus {
    outline: 2px solid #5AB0FF;
}
.modal__inputs[data-error] .modal__input {
    border-color: #FF5437;
}
.modal__inputs[data-error]::after {
    content: attr(data-error);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #FF5437;
}
.form__title {
    margin-top: 22px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.modal__faq {
    padding-top: 42px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modal__questions {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 23px;
}
.modal__social-networks {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    flex-direction: column;
}
.checkbox__container {
    padding-bottom: 14px;
}
.checkbox__container:last-child{
padding: 0;
}
.modal__btn-send {
    margin: 42px 0 33px 0;
    height: 40px;
    width: 172px;
    border-radius: 4px;
    background: #222222;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
@keyframes moving {
    100% {
        transform: rotate(-360deg);
    }
}
.load__content {
    display: none;
}
.load__svg {
    animation: moving 2.5s .5s linear;
}
.hidden__modal__content {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #7E7E7E;
    margin-bottom: 36px;
}
.hidden__btn-done {
    display: none;
    flex-wrap: wrap;
    width: 45%;
    margin-bottom: 36px;
}
.btn__done {
    font-weight: 400;
    font-size: 14px;
    justify-content: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #7E7E7E;
    width: 100%;
    border-radius: 4px;
    background: none;
}
.checkbox__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox__input+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.checkbox__input+label::before {
    content: '';
    width: 24px;
    height: 24px;
    flex-grow: 0;
    border: 2px solid #0278ED;
    border-radius: 4px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% 90%;
}
.checkbox__input:checked+label::before {
    display: flex;
    justify-content: center;
    border-color: #0b76ef;
    background-image: url("/img/select_blue.png");
}
form {
    min-width: 330px;
    position: relative;
    margin: 12px auto 0;
    font-size: 15px;
}
.radiobtn {
    display: block;
    position: relative;
    margin-top: 10px;
}
.radiobtn label {
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    border: 1px solid;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.radiobtn .label__standard-color {
    color: #0278ED;
}
#standard:checked+label {
    color: #fff;
    background-color: #0278ED;
}
#premium:checked+label {
    color: #fff;
    background-color: #FF5437;
}
.radiobtn .label-premium-color {
    color: #FF5437;
}
.radiobtn .label__lifetime-color {
    color: #FF9209;
}
.radiobtn label:after,
.radiobtn label:before {
    content: "";
    position: absolute;
    top: 12.6px;
    left: 12px;
    width: 100%;
}
.radiobtn label:before {
    background-repeat: no-repeat;
    background-image: url('../img//select.svg');
}
.radiobtn input[type=radio] {
    display: none;
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.radiobtn input[type=radio]:checked+label {
    background: #FF9209;
    color: #fff;
}
.radiobtn input[type=radio]:checked+label:before {
    width: 24px;
    height: 24px;
}
