.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    z-index: 1001;
}

.modal__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {
    height: auto;
    padding: 0 90px;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.modal__title {
    height: 60px;
    max-width: 312px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 38px;
    padding-bottom: 25px;
}

.modal__inputs {
    height: auto;
    width: 330px;
}

.modal__input {
    height: 42px;
    width: 330px;
    border-radius: 4px;
    background: #F2F2F2;
    color: #000;
    padding-left: 17px;
    border: none;
    margin-top: 17px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.modal__input:focus{
    outline: 2px solid #5AB0FF;
}
.modal__inputs[data-error] .modal__input{
    border-color: #FF5437;

}
.modal__inputs[data-error]::after{
    content: attr(data-error);
font-size: 12px;
font-weight: 400;
line-height: 18px;
    color: #FF5437;    
}
.modal__btns{
width: 330px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 23px;
}
.btn__title{
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
.modal__btn{
height: 42px;
width: 100%;
margin-top: 11px;
border-radius: 4px;
background: none;
border: 1px solid;
display: flex;
align-items: center;
justify-content: space-around;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
.select__svg{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    text-align: center;
    position: relative;
}
.select__svg svg{
    position: absolute;
    left: 0;
}
.blue__btn{
    color: #0278ED;

}
.red__btn{
    color: #FF5437;
}
.orange__btn{
    background-color: #FF9209;
    color: #fff;
}
.modal__ask{
    padding-top: 42px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modal__question{
font-size: 16px;
font-weight: 400;
line-height: 24px;
padding-bottom: 23px;
}
.modal__networks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.checkbox__container{
padding: 7.5px 0;
}

.modal__send{
margin: 42px 0 33px 0;
height: 40px;
width: 172px;
border-radius: 4px;
background: #222222;
color: #fff;
font-family: 'Poppins';
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: 2px;
text-transform: uppercase;
}
.load__content{
    display: none;
}
.closed__content{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    justify-content: space-between;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #7E7E7E;
    margin-bottom: 36px;
}
.buy__content{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    justify-content: space-between;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #7E7E7E;
    margin-bottom: 36px;
}
@keyframes moving {
    100% {transform: rotate(-360deg);}
}
.load__svg {
    animation: moving 2.5s .5s linear;
}