#technology__section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
    background-color: #fff;
}

.title__of__context {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #222222;
}

.section__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}

.right__part img {
    width: 376px;
    height: 100%;
}

/* speed & security */

#speed__section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
    background-color: #F2F2F2;
}

.speed__section .right__part {
    margin-left: 100px;
}

.speed__section .left__part {
    margin-bottom: 0;
}

@media(max-width: 895px) {
    #speed__section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-around;
        padding-top: 100px;
        background-color: #F2F2F2;
    }
}
@media (max-width: 375) {
        #speed__section{
            width: 100%;
        }
}