.testimonials__section{
    background: #F2F2F2;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
.testimonials__cards{
    display: flex;
    padding-top: 40px;
    margin-bottom: 100px;
    height: 224px;
    width: 1168px;
    justify-content: space-between;

}
.testimonials__card{
    height: 224px;
    width: 379px;
    background: #FFFFFF;
    border-radius: 20px;
}

.text__cards{
    text-align: left;
    padding-left: 22px;
    padding-top: 30px;
height: 96px;
width: 312px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #222222;
}
.bio__card{
    text-align: left;
    padding-left: 22px;
    padding-top: 22px;
}
.autor__card{
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #1B1A1A;
}
.profession__card{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1B1A1A;
}