.mode__section {
    background-color: #222222;
    transition: .3s;
    display: flex;
    color: #fff;
    padding: 100px 0;
    justify-content: center;
}

.card__frame {
    max-width: 600px;
    text-align: center;
}

.text__frame {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title__frame {
    font-weight: 400;
    font-size: 32px;
}

.title__frame b {
    color: #FF9209;
}

.context__frame {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    max-width: 578px;
    height: 48px;
}

.img__frame {
    height: 100%;
    width: 400px;
}

.img__bottom {
    padding-top: 36px;
    height: 486px;
    max-width: 600px;
    border-bottom: 2px solid #E5E5E5;
}

.btn__frame {
    padding-top: 36px;
    max-width: 600px;
}

.btn__frame span {
    display: block;
}

.light__btn {
    height: 49px;
    background: none;
    width: 128px;
    left: 164px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    fill: #fff;
}

.dark__btn {
    background: none;
    height: 48px;
    width: 122px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #FF9209;
    fill: #FF9209;
    text-transform: uppercase;
}

/* Ligth mode */
.light-theme {
    background-color: #fff;
    transition: .3s;
}

.changeTheme__title {
    color: #222222;
}

.l_mode_btn {
    color: #222222;
    fill: #222222;
}

.d_mode_btn {
    fill: #FF9209;
    color: #FF9209;
}

@media (max-width: 720px) {
    .mode__section {
        width: 100%;
    }

    .card__frame {
        width: 100%;
    }

    .img__frame {
        width: 90%;
    }

    .context__frame {
        font-size: 14px;
        width: 100%;
    }

    .btn__frame {
        width: 100%;
    }

    .title__frame {
        font-size: 30px;
    }
}