#red__section {
    width: 100%;
    background-color: #FF5437;
    padding: 80px 0 100px;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
}

.red__container {
    display: flex;
    margin: auto;
    max-width: 1040px;
    align-items: center;
    justify-content: space-between;
}

.red__container-item {
    text-align: center;
    color: #fff;
}

.red__container-item h3 {
    font-size: 96px;
    font-weight: 400;
    line-height: 96px;
}
.red__container-item:nth-child(n + 2) {
    margin-right: 25px;
}

.static__context {
    font-weight: 400;
    font-size: 14px;
    max-width: 216px;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 20px;
    margin: auto;
    text-transform: uppercase;
}

@media (max-width: 895px) {
    #red__section{
        padding: 50px 0;
    }
    .red__container {
        display: block;
    }
    .red__container-item {
        padding-top: 20px;
    }
    .red__container-item h3 {
        /* width: 100%; */
        font-size: 86px;
    }
}