.testimonials__container {
    background: #F2F2F2;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}

.testimonials__cards {
    display: flex;
    margin-top: 20px;
    margin-bottom: 100px;
    height: auto;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonials__card {
    height: 224px;
    max-width: 379px;
    background: #ffffff;
    border-radius: 20px;
}

.testimonials__card:nth-child(2n) {
    margin: 0 20px;
}

.text__cards {
    text-align: left; 
    padding-left: 30px; 
    padding-top: 30px;
    height: 96px;
    max-width: 90%;
    font-weight: 400;
    font-size: 16px;
    color: #222222;
}

.bio__card {
    text-align: left;
    padding-left: 30px; 
    padding-top: 22px;
}

.autor__card {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1B1A1A;
}

.profession__card {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1B1A1A;
}

@media (max-width:1177px) {
    .testimonials__cards{
        justify-content: center;   
        display: flex;
        flex-direction: column; 
        margin-bottom: 50px;
    }
    .testimonials__card {
        margin: 25px 0;
    }
    .testimonials__card:nth-child(2n) {
        margin: 0
    }
}
@media (max-width: 404px) {
    .testimonials__cards{
        padding: 0;
        width: 90%;
    }
}